<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381222367497-9qc4t9qdqqijsenqai2qqtm217r9d9l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381222367497-9qc4t9qdqqijsenqai2qqtm217r9d9l5</string>
	<key>API_KEY</key>
	<string>AIzaSyAK22dZBRVOH0uL1Rb4tM89o9UY-7DIUGE</string>
	<key>GCM_SENDER_ID</key>
	<string>381222367497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hennrynino.ProyectoLizama</string>
	<key>PROJECT_ID</key>
	<string>iosisil-4f0ec</string>
	<key>STORAGE_BUCKET</key>
	<string>iosisil-4f0ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381222367497:ios:87bcebcf121894f0b3e3d8</string>
	<key>DATABASE_URL</key>
	<string>https://iosisil-4f0ec.firebaseio.com</string>
</dict>
</plist>